In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('ingresos_del_sistema_de_transporte_colectivo_metro.csv',parse_dates=['FECHA'], dayfirst=True)

In [24]:
df.head(50)

,FECHA,TIPO_INGRESO,LINEA_1,LINEA_2,LINEA_3,LINEA_4,LINEA_5,LINEA_6,LINEA_7,LINEA_8,LINEA_9,LINEA_A,LINEA_B,LINEA_12
0,2012-01-01,Boletos,648825.0,657120.0,466803.0,60120.0,242280.0,138525.0,138690.0,328383.0,176400.0,275370.0,472665.0,NaN
1,2012-01-02,Boletos,1532940.0,1491780.0,1168590.0,165690.0,437025.0,286620.0,433323.0,777951.0,504600.0,514455.0,965385.0,NaN
2,2012-01-03,Boletos,1398639.0,1482255.0,1143675.0,162360.0,388575.0,268770.0,432117.0,758661.0,503595.0,489090.0,887790.0,NaN
3,2012-01-04,Boletos,1414041.0,1556265.0,1181085.0,171360.0,392190.0,270795.0,443070.0,799875.0,505575.0,521760.0,964290.0,NaN
4,2012-01-05,Boletos,1407075.0,1593750.0,1200975.0,178830.0,384465.0,269055.0,447345.0,823911.0,515835.0,509055.0,988845.0,NaN
5,2012-01-06,Boletos,1278015.0,1411710.0,1102785.0,155760.0,366705.0,259380.0,423645.0,720870.0,483240.0,475035.0,821970.0,NaN
6,2012-01-07,Boletos,1281750.0,1386150.0,985140.0,144690.0,352950.0,212430.0,354171.0,704739.0,428550.0,451605.0,862980.0,NaN
7,2012-01-08,Boletos,897705.0,869928.0,671742.0,90630.0,264870.0,151200.0,209679.0,454899.0,260535.0,331575.0,613875.0,NaN
8,2012-01-09,Boletos,1470270.0,1574931.0,1342710.0,181815.0,446475.0,335415.0,522996.0,827742.0,566910.0,581160.0,960720.0,NaN
9,2012-01-10,Boletos,1304460.0,1448166.0,1217808.0,161235.0,388800.0,287850.0,475824.0,738054.0,520845.0,508695.0,799080.0,NaN
10,2012-01-11,Boletos,1282530.0,1414770.0,1193520.0,156450.0,379155.0,272850.0,459150.0,725070.0,508395.0,527325.0,836235.0,NaN
11,2012-01-12,Boletos,1276770.0,1415370.0,1189257.0,157500.0,376080.0,279090.0,458646.0,735603.0,518745.0,486960.0,817155.0,NaN
12,2012-01-13,Boletos,1391025.0,1539780.0,1261203.0,170295.0,399240.0,294390.0,496764.0,788424.0,546450.0,526620.0,876885.0,NaN
13,2012-01-14,Boletos,1388286.0,1495275.0,1049409.0,153075.0,366810.0,235725.0,388095.0,735603.0,467295.0,470355.0,892620.0,NaN
14,2012-01-15,Boletos,938274.0,942495.0,710934.0,91440.0,263190.0,156840.0,224355.0,471930.0,275175.0,326265.0,619950.0,NaN
15,2012-01-16,Boletos,1537365.0,1657098.0,1404891.0,189840.0,458850.0,350925.0,549330.0,859770.0,598875.0,598035.0,991620.0,NaN
16,2012-01-17,Boletos,1351155.0,1501752.0,1243701.0,162015.0,387060.0,297930.0,484920.0,764010.0,538515.0,512175.0,827415.0,NaN
17,2012-01-18,Boletos,1347255.0,1489275.0,1207875.0,165810.0,378570.0,287040.0,484380.0,756870.0,518445.0,520020.0,842670.0,NaN
18,2012-01-19,Boletos,1265670.0,1422465.0,1166178.0,159885.0,372690.0,273045.0,455085.0,730323.0,511080.0,482400.0,817170.0,NaN
19,2012-01-20,Boletos,1364049.0,1523625.0,1224999.0,168675.0,399000.0,292410.0,488010.0,769296.0,534975.0,519960.0,869940.0,NaN
20,2012-01-21,Boletos,1363200.0,1496850.0,1063869.0,155175.0,368040.0,232530.0,391905.0,732903.0,465150.0,464445.0,890745.0,NaN
21,2012-01-22,Boletos,931416.0,923925.0,710256.0,92445.0,259845.0,153975.0,223146.0,473364.0,278220.0,322695.0,621915.0,NaN
22,2012-01-23,Boletos,1491855.0,1642890.0,1399227.0,188535.0,469755.0,350325.0,535464.0,848484.0,586665.0,604515.0,973845.0,NaN
23,2012-01-24,Boletos,1312851.0,1477965.0,1236261.0,165585.0,400710.0,300615.0,472695.0,746925.0,533850.0,516525.0,815970.0,NaN
24,2012-01-25,Boletos,1304655.0,1479345.0,1243920.0,161835.0,399270.0,291150.0,473595.0,740055.0,518280.0,537030.0,854085.0,NaN
25,2012-01-26,Boletos,1307514.0,1469604.0,1223472.0,162975.0,395880.0,290040.0,466155.0,741285.0,532410.0,505275.0,839385.0,NaN
26,2012-01-27,Boletos,1439010.0,1626186.0,1310568.0,174435.0,423525.0,313575.0,502665.0,815673.0,558300.0,547380.0,924570.0,NaN
27,2012-01-28,Boletos,1415400.0,1634883.0,1164510.0,157050.0,379035.0,240930.0,401634.0,768612.0,493830.0,498615.0,925485.0,NaN
28,2012-01-29,Boletos,936978.0,937302.0,710559.0,90780.0,254490.0,146760.0,222201.0,466896.0,280590.0,325485.0,601560.0,NaN
29,2012-01-30,Boletos,1563627.0,1663680.0,1471644.0,187590.0,479430.0,367110.0,558555.0,871107.0,612765.0,621600.0,1019250.0,NaN
30,2012-01-31,Boletos,1436730.0,1589925.0,1361031.0,174450.0,420090.0,317370.0,514320.0,795714.0,559035.0,551310.0,876555.0,NaN
31,2012-02-01,Boletos,1406175.0,1560210.0,1321386.0,173325.0,417600.0,306495.0,493590.0,792498.0,552795.0,567600.0,914985.0,NaN
32,2012-02-02,Boletos,1300050.0,1434480.0,1232100.0,177270.0,397185.0,289905.0,462918.0,737310.0,522345.0,502590.0,853320.0,NaN
33,2012-02-03,Boletos,1476555.0,1656585.0,1341429.0,183495.0,427125.0,312360.0,533532.0,815085.0,548970.0,547950.0,943830.0,NaN
34,2012-02-04,Boletos,1384035.0,1525515.0,1114665.0,152520.0,380100.0,232425.0,402435.0,740310.0,475350.0,481710.0,930285.0,NaN
35,2012-02-05,Boletos,894693.0,923526.0,701349.0,90990.0,251250.0,150510.0,214455.0,458613.0,279240.0,323340.0,613695.0,NaN
36,2012-02-06,Boletos,1002807.0,995700.0,740544.0,107595.0,282315.0,160845.0,242094.0,507435.0,310020.0,344715.0,696600.0,NaN
37,2012-02-07,Boletos,1432110.0,1603104.0,1404801.0,183960.0,448875.0,347805.0,538371.0,829152.0,584160.0,591570.0,937095.0,NaN
38,2012-02-08,Boletos,1314225.0,1476621.0,1248612.0,163425.0,389040.0,296115.0,486765.0,764490.0,531660.0,540375.0,872340.0,NaN
39,2012-02-09,Boletos,1283970.0,1440819.0,1219815.0,162840.0,387750.0,292260.0,473430.0,745665.0,520500.0,511890.0,840060.0,NaN
40,2012-02-10,Boletos,1271055.0,1393575.0,1201218.0,160530.0,391200.0,296040.0,478800.0,714804.0,504600.0,515610.0,835815.0,NaN
41,2012-02-11,Boletos,1334928.0,1453824.0,1058484.0,152145.0,358380.0,232620.0,381180.0,717609.0,467220.0,465225.0,882270.0,NaN
42,2012-02-12,Boletos,894816.0,897786.0,697920.0,91695.0,246915.0,153330.0,218505.0,459498.0,282045.0,321495.0,625470.0,NaN
43,2012-02-13,Boletos,1523886.0,1655475.0,1440357.0,193440.0,472245.0,366825.0,552165.0,874962.0,602910.0,630120.0,1039425.0,NaN
44,2012-02-14,Boletos,1381440.0,1570800.0,1313682.0,177765.0,417600.0,321855.0,506460.0,811404.0,560175.0,561705.0,920415.0,NaN
45,2012-02-15,Boletos,1400070.0,1546305.0,1310634.0,174225.0,432030.0,333945.0,519915.0,806628.0,562950.0,577995.0,920850.0,NaN
46,2012-02-16,Boletos,1367634.0,1533045.0,1297065.0,171660.0,420270.0,317415.0,502245.0,792345.0,559215.0,541020.0,896430.0,NaN
47,2012-02-17,Boletos,1414536.0,1593180.0,1323135.0,175680.0,442140.0,321405.0,515463.0,809811.0,556665.0,559620.0,928845.0,NaN
48,2012-02-18,Boletos,1380666.0,1524225.0,1113927.0,157380.0,384135.0,244500.0,405162.0,745749.0,478260.0,493530.0,915765.0,NaN
49,2012-02-19,Boletos,949122.0,975615.0,726987.0,95280.0,269655.0,154575.0,228645.0,482472.0,290340.0,351480.0,637890.0,NaN

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FECHA         10683 non-null  datetime64[ns]
 1   TIPO_INGRESO  10683 non-null  object
 2   LINEA_1       10683 non-null  float64
 3   LINEA_2       10683 non-null  float64
 4   LINEA_3       10683 non-null  float64
 5   LINEA_4       10683 non-null  float64
 6   LINEA_5       10683 non-null  float64
 7   LINEA_6       10683 non-null  float64
 8   LINEA_7       10683 non-null  float64
 9   LINEA_8       10683 non-null  float64
 10  LINEA_9       10683 non-null  float64
 11  LINEA_A       10683 non-null  float64
 12  LINEA_B       10683 non-null  float64
 13  LINEA_12      9768 non-null   float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 1.1+ MB

In [26]:
df['LINEA_12']=df['LINEA_12'].fillna(0)

In [27]:
df.head()

,FECHA,TIPO_INGRESO,LINEA_1,LINEA_2,LINEA_3,LINEA_4,LINEA_5,LINEA_6,LINEA_7,LINEA_8,LINEA_9,LINEA_A,LINEA_B,LINEA_12
0,2012-01-01,Boletos,648825.0,657120.0,466803.0,60120.0,242280.0,138525.0,138690.0,328383.0,176400.0,275370.0,472665.0,0.0
1,2012-01-02,Boletos,1532940.0,1491780.0,1168590.0,165690.0,437025.0,286620.0,433323.0,777951.0,504600.0,514455.0,965385.0,0.0
2,2012-01-03,Boletos,1398639.0,1482255.0,1143675.0,162360.0,388575.0,268770.0,432117.0,758661.0,503595.0,489090.0,887790.0,0.0
3,2012-01-04,Boletos,1414041.0,1556265.0,1181085.0,171360.0,392190.0,270795.0,443070.0,799875.0,505575.0,521760.0,964290.0,0.0
4,2012-01-05,Boletos,1407075.0,1593750.0,1200975.0,178830.0,384465.0,269055.0,447345.0,823911.0,515835.0,509055.0,988845.0,0.0

In [28]:
df['LINEA_1']=df['LINEA_1'].astype('int')

In [29]:
df[['LINEA_2','LINEA_3']]=df[['LINEA_2','LINEA_3']].astype('int')

In [30]:
df[['LINEA_4','LINEA_5', 'LINEA_6', 'LINEA_7', 'LINEA_8', 'LINEA_9', 'LINEA_A', 'LINEA_B', 'LINEA_12']]=df[['LINEA_4','LINEA_5', 'LINEA_6', 'LINEA_7', 'LINEA_8', 'LINEA_9', 'LINEA_A', 'LINEA_B', 'LINEA_12']].astype('int')

In [31]:
df['FECHA'] = pd.to_datetime(df['FECHA'], infer_datetime_format=True)
                             #, dayfirst=True)

In [32]:
df['AÑO'] = df['FECHA'].dt.year

In [33]:
df['MES'] = df['FECHA'].dt.month

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FECHA         10683 non-null  datetime64[ns]
 1   TIPO_INGRESO  10683 non-null  object
 2   LINEA_1       10683 non-null  int64
 3   LINEA_2       10683 non-null  int64
 4   LINEA_3       10683 non-null  int64
 5   LINEA_4       10683 non-null  int64
 6   LINEA_5       10683 non-null  int64
 7   LINEA_6       10683 non-null  int64
 8   LINEA_7       10683 non-null  int64
 9   LINEA_8       10683 non-null  int64
 10  LINEA_9       10683 non-null  int64
 11  LINEA_A       10683 non-null  int64
 12  LINEA_B       10683 non-null  int64
 13  LINEA_12      10683 non-null  int64
 14  AÑO           10683 non-null  int64
 15  MES           10683 non-null  int64
dtypes: datetime64[ns](1), int64(14), object(1)
memory usage: 1.3+ MB

In [35]:
df.head(50)

,FECHA,TIPO_INGRESO,LINEA_1,LINEA_2,LINEA_3,LINEA_4,LINEA_5,LINEA_6,LINEA_7,LINEA_8,LINEA_9,LINEA_A,LINEA_B,LINEA_12,AÑO,MES
0,2012-01-01,Boletos,648825,657120,466803,60120,242280,138525,138690,328383,176400,275370,472665,0,2012,1
1,2012-01-02,Boletos,1532940,1491780,1168590,165690,437025,286620,433323,777951,504600,514455,965385,0,2012,1
2,2012-01-03,Boletos,1398639,1482255,1143675,162360,388575,268770,432117,758661,503595,489090,887790,0,2012,1
3,2012-01-04,Boletos,1414041,1556265,1181085,171360,392190,270795,443070,799875,505575,521760,964290,0,2012,1
4,2012-01-05,Boletos,1407075,1593750,1200975,178830,384465,269055,447345,823911,515835,509055,988845,0,2012,1
5,2012-01-06,Boletos,1278015,1411710,1102785,155760,366705,259380,423645,720870,483240,475035,821970,0,2012,1
6,2012-01-07,Boletos,1281750,1386150,985140,144690,352950,212430,354171,704739,428550,451605,862980,0,2012,1
7,2012-01-08,Boletos,897705,869928,671742,90630,264870,151200,209679,454899,260535,331575,613875,0,2012,1
8,2012-01-09,Boletos,1470270,1574931,1342710,181815,446475,335415,522996,827742,566910,581160,960720,0,2012,1
9,2012-01-10,Boletos,1304460,1448166,1217808,161235,388800,287850,475824,738054,520845,508695,799080,0,2012,1
10,2012-01-11,Boletos,1282530,1414770,1193520,156450,379155,272850,459150,725070,508395,527325,836235,0,2012,1
11,2012-01-12,Boletos,1276770,1415370,1189257,157500,376080,279090,458646,735603,518745,486960,817155,0,2012,1
12,2012-01-13,Boletos,1391025,1539780,1261203,170295,399240,294390,496764,788424,546450,526620,876885,0,2012,1
13,2012-01-14,Boletos,1388286,1495275,1049409,153075,366810,235725,388095,735603,467295,470355,892620,0,2012,1
14,2012-01-15,Boletos,938274,942495,710934,91440,263190,156840,224355,471930,275175,326265,619950,0,2012,1
15,2012-01-16,Boletos,1537365,1657098,1404891,189840,458850,350925,549330,859770,598875,598035,991620,0,2012,1
16,2012-01-17,Boletos,1351155,1501752,1243701,162015,387060,297930,484920,764010,538515,512175,827415,0,2012,1
17,2012-01-18,Boletos,1347255,1489275,1207875,165810,378570,287040,484380,756870,518445,520020,842670,0,2012,1
18,2012-01-19,Boletos,1265670,1422465,1166178,159885,372690,273045,455085,730323,511080,482400,817170,0,2012,1
19,2012-01-20,Boletos,1364049,1523625,1224999,168675,399000,292410,488010,769296,534975,519960,869940,0,2012,1
20,2012-01-21,Boletos,1363200,1496850,1063869,155175,368040,232530,391905,732903,465150,464445,890745,0,2012,1
21,2012-01-22,Boletos,931416,923925,710256,92445,259845,153975,223146,473364,278220,322695,621915,0,2012,1
22,2012-01-23,Boletos,1491855,1642890,1399227,188535,469755,350325,535464,848484,586665,604515,973845,0,2012,1
23,2012-01-24,Boletos,1312851,1477965,1236261,165585,400710,300615,472695,746925,533850,516525,815970,0,2012,1
24,2012-01-25,Boletos,1304655,1479345,1243920,161835,399270,291150,473595,740055,518280,537030,854085,0,2012,1
25,2012-01-26,Boletos,1307514,1469604,1223472,162975,395880,290040,466155,741285,532410,505275,839385,0,2012,1
26,2012-01-27,Boletos,1439010,1626186,1310568,174435,423525,313575,502665,815673,558300,547380,924570,0,2012,1
27,2012-01-28,Boletos,1415400,1634883,1164510,157050,379035,240930,401634,768612,493830,498615,925485,0,2012,1
28,2012-01-29,Boletos,936978,937302,710559,90780,254490,146760,222201,466896,280590,325485,601560,0,2012,1
29,2012-01-30,Boletos,1563627,1663680,1471644,187590,479430,367110,558555,871107,612765,621600,1019250,0,2012,1
30,2012-01-31,Boletos,1436730,1589925,1361031,174450,420090,317370,514320,795714,559035,551310,876555,0,2012,1
31,2012-02-01,Boletos,1406175,1560210,1321386,173325,417600,306495,493590,792498,552795,567600,914985,0,2012,2
32,2012-02-02,Boletos,1300050,1434480,1232100,177270,397185,289905,462918,737310,522345,502590,853320,0,2012,2
33,2012-02-03,Boletos,1476555,1656585,1341429,183495,427125,312360,533532,815085,548970,547950,943830,0,2012,2
34,2012-02-04,Boletos,1384035,1525515,1114665,152520,380100,232425,402435,740310,475350,481710,930285,0,2012,2
35,2012-02-05,Boletos,894693,923526,701349,90990,251250,150510,214455,458613,279240,323340,613695,0,2012,2
36,2012-02-06,Boletos,1002807,995700,740544,107595,282315,160845,242094,507435,310020,344715,696600,0,2012,2
37,2012-02-07,Boletos,1432110,1603104,1404801,183960,448875,347805,538371,829152,584160,591570,937095,0,2012,2
38,2012-02-08,Boletos,1314225,1476621,1248612,163425,389040,296115,486765,764490,531660,540375,872340,0,2012,2
39,2012-02-09,Boletos,1283970,1440819,1219815,162840,387750,292260,473430,745665,520500,511890,840060,0,2012,2
40,2012-02-10,Boletos,1271055,1393575,1201218,160530,391200,296040,478800,714804,504600,515610,835815,0,2012,2
41,2012-02-11,Boletos,1334928,1453824,1058484,152145,358380,232620,381180,717609,467220,465225,882270,0,2012,2
42,2012-02-12,Boletos,894816,897786,697920,91695,246915,153330,218505,459498,282045,321495,625470,0,2012,2
43,2012-02-13,Boletos,1523886,1655475,1440357,193440,472245,366825,552165,874962,602910,630120,1039425,0,2012,2
44,2012-02-14,Boletos,1381440,1570800,1313682,177765,417600,321855,506460,811404,560175,561705,920415,0,2012,2
45,2012-02-15,Boletos,1400070,1546305,1310634,174225,432030,333945,519915,806628,562950,577995,920850,0,2012,2
46,2012-02-16,Boletos,1367634,1533045,1297065,171660,420270,317415,502245,792345,559215,541020,896430,0,2012,2
47,2012-02-17,Boletos,1414536,1593180,1323135,175680,442140,321405,515463,809811,556665,559620,928845,0,2012,2
48,2012-02-18,Boletos,1380666,1524225,1113927,157380,384135,244500,405162,745749,478260,493530,915765,0,2012,2
49,2012-02-19,Boletos,949122,975615,726987,95280,269655,154575,228645,482472,290340,351480,637890,0,2012,2

In [36]:
df['TIPO_INGRESO'].unique()

array(['Boletos', 'Recargas', 'Tarjetas'], dtype=object)

In [62]:
df.to_csv('Ingresos_lineas_del_metro(limpio).csv')

In [48]:
pivote_df = pd.pivot_table(df,
                            values=['LINEA_1', 'LINEA_2', 'LINEA_3', 'LINEA_4',
                                    'LINEA_5', 'LINEA_6', 'LINEA_7', 'LINEA_8',
                                    'LINEA_9', 'LINEA_A', 'LINEA_B', 'LINEA_12'],
                            #COLUMNAS
                            index=['TIPO_INGRESO', 'AÑO'],
                            aggfunc={'LINEA_1':'sum',
                                     'LINEA_2':'sum', 
                                     'LINEA_3':'sum',
                                     'LINEA_4':'sum',
                                     'LINEA_5':'sum', 
                                     'LINEA_6':'sum', 'LINEA_7':'sum', 'LINEA_8':'sum',
                                     'LINEA_9':'sum', 'LINEA_A':'sum', 'LINEA_B':'sum',
                                     'LINEA_12':'sum'})

In [54]:
pivote_df.sum(axis=1)

TIPO_INGRESO  AÑO
Boletos       2012    2869636518
              2013    2592251195
              2014    3715170450
              2015    3759301025
              2016    3674529075
              2017    3403507375
              2018    3190362300
              2019    3009746660
              2020    1184395325
              2021     815184665
Recargas      2012    1577272851
              2013    2351114011
              2014    3029475081
              2015    3163255631
              2016    3451206677
              2017    3455095130
              2018    3623735712
              2019    3351149251
              2020    2748506244
              2021    1792337597
Tarjetas      2012      17061900
              2013      24673340
              2014      19032740
              2015      19069390
              2016      17481180
              2017      18579010
              2018      21761180
              2019      27342820
              2020      66978360
              2021      16207950
dtype: int64